
/* Style Index * /

#0 Reset
#1 BLOG Feeds
#2 Toggle Menu Buttons
#3 Responsive Image Code
#4 To-Top Navigation


/* #0 Reset */



/* ------------------------------------------------------------
* #1 SIDENAV: BLOG FEED ENTRIES & SIDE SHAPE
* ------------------------------------------------------------ */

#feed > .entry h4 a {
	color: #E3CCAE !important;
	line-height: 24px !important;
	}
	
	
.widget > .entry h4 a {
	line-height: 24px !important;
	}

#centerimg {
	display: block;
	margin-left: auto;
    	margin-right: auto;
    	max-width:100%;
    	height:auto;
    	}


/* ------------------------------------------------------------
 * #2 TOGGLE MENU BUTTONS
 * ------------------------------------------------------------ */

.container-toggleshop {
margin: -10px 10px 50px 0px;
border: 0;
background: transparent;
padding: 0;
}

.container-toggleshop.bottomside {
margin-top: 50px;
}

.container-toggleshop.first {
margin-top: 0px;
}

.container-toggleshop .drop-button {
position: relative;
}
.container-toggleshop .drop-button .drop-btn {
display: block;
margin: 0;
border-top: 1px solid #fff;
border-bottom: 1px solid #ccc;
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
background: #eee;
background: -webkit-gradient(linear, 0% 10%, 0% 90%, from(#f5f5f5), to(#dddddd));
background: -webkit-linear-gradient(top, #f5f5f5 10%, #dddddd 90%);
background: -moz-linear-gradient(top, #f5f5f5 10%, #dddddd 90%);
background: -ms-linear-gradient(top, #f5f5f5 10%, #dddddd 90%);
background: -o-linear-gradient(top, #f5f5f5 10%, #dddddd 90%);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#dddddd)";
font-weight: 500;
font-size: 14px;
line-height: 18px;
box-shadow: 0 1px 1px #999;
padding: 0px 4px;
}
.container-toggleshop .drop-button .drop-btn a {
display: block;
background: transparent url(../images/icon_btn_closed.png) left center no-repeat;
padding: 5px 5px 5px 35px;
color: #333;
text-decoration: none;
}
.container-toggleshop .drop-button .drop-btn a.open {
background-image: url(../images/icon_btn_closed.png);
}

	
.widget > .entry h4 a {
	line-height: 24px !important;
	}
	

/* ------------------------------------------------------------
* #3 RESPONSIVE IMAGE CODE
* ------------------------------------------------------------ */



.centerimg {
	display: block;
	margin-left: auto;
    	margin-right: auto;
    	max-width:100%;
    	height:auto;
    	}

.summaryimg {
	display: block;
	margin-left: auto;
    	margin-right: auto;
    	max-width:100%;
    	height:auto;
    	}



/* ------------------------------------------------------------
* #4 TO TOP JQ
* ------------------------------------------------------------ */



#toTop {
	display:none;
	content: '';
	text-decoration:none;
	position:fixed;
	bottom:200px;
	right:10px;
	overflow:hidden;
	width:50px;
	height:50px;
	border:none;
	text-indent:100%;
	background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -50px;
	content: '';
	width:50px;
	height:50px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}